<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PRSConnectionString"
			 connectionString="Server=SAK-TEST-DBS\SQLDBUAT01;Database=PRS;User ID=sa;Password=SakraDB@123;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="dashboard.aspx" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
